*{
  box-sizing: border-box;
  margin: 0 auto;
}
.game__buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game__button {  
  cursor: pointer;
}

.game__selection--image {
  width: 75px;
  transform: rotate(90deg);
}
